# Project_On
# IDBM_Movie_Data:

## Aim:

### The aim of the project is to analyze the IDBM_Movie_Data with the following details:

#### Load the data into your working area and get the information about the null values.

#### Rename the columns for the analysis purpose if any columns are not in proper way.

#### Handle the missing value columns with the proper assumtion.

####  Generate the relationship between each continuous variable using corr() method.

####  Find the movies directed by 'James Gunn', & 'Ridley Scott' with the rating greater than or equal to 8.

####  Display all the movies directed by 'Ridley Scott'.

####  Display all the director's who got the rating >= 8 for their movies.

####  Find all the movies directed by 'James Gunn', & 'Ridley Scott'.

####  Display all the movies with the ratings between 8 & 9 and also the films with the highest rating.

####  Find the movies directed by both 'Christopher Nolan' and 'Ridley Scott'

####  Find all movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 50th percentile in revenue.

####  Find all movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue.

#### Finally give the feedback for all movies with 'Good' if the movie 'rating' is >= 8 and 'Average' if the movie rating doesn't follow the condition given.

## Ans1  Load the data into your working area and get the information about the null values.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\ashu\new data science 2pm\Smash (8)\data\data\movies\IMDB_Movie_Data.csv")
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [4]:
data.shape

(1000, 12)

In [5]:
data.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

## Ans3   Handle the missing value columns with the proper assumtion.

In [6]:
data[data['Revenue (Millions)'].isnull()]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
39,40,5- 25- 77,"Comedy,Drama","Alienated, hopeful-filmmaker Pat Johnson's epi...",Patrick Read Johnson,"John Francis Daley, Austin Pendleton, Colleen ...",2007,113,7.1,241,NaN,NaN
42,43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
977,978,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN,38.0
978,979,It's Only the End of the World,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN,48.0
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

In [7]:
x = data['Revenue (Millions)'].mean()
x

82.95637614678897

In [8]:
data['Revenue (Millions)'].fillna(x, inplace = True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    1000 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [10]:
data[data['Metascore'].isnull()]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,82.956376,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.500000,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.010000,NaN
39,40,5- 25- 77,"Comedy,Drama","Alienated, hopeful-filmmaker Pat Johnson's epi...",Patrick Read Johnson,"John Francis Daley, Austin Pendleton, Colleen ...",2007,113,7.1,241,82.956376,NaN
42,43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,82.956376,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
967,968,The Walk,"Adventure,Biography,Crime","In 1974, high-wire artist Philippe Petit recru...",Robert Zemeckis,"Joseph Gordon-Levitt, Charlotte Le Bon,Guillau...",2015,123,7.3,92378,10.140000,NaN
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.290000,NaN
971,972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.050000,NaN
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.070000,NaN
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.920000,NaN

In [11]:
y = data['Metascore'].mean()
y

58.98504273504273

In [12]:
data['Metascore'].fillna(y, inplace = True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    1000 non-null float64
Metascore             1000 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

## Ans4  Generate the relationship between each continuous variable using corr() method

In [14]:
data.corr()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,1.000000,-0.261605,-0.221739,-0.219555,-0.283876,-0.252996,-0.185159
Year,-0.261605,1.000000,-0.164900,-0.211219,-0.411904,-0.117562,-0.076077
Runtime (Minutes),-0.221739,-0.164900,1.000000,0.392214,0.407062,0.247834,0.202239
Rating,-0.219555,-0.211219,0.392214,1.000000,0.511537,0.189527,0.604723
Votes,-0.283876,-0.411904,0.407062,0.511537,1.000000,0.607941,0.318116
Revenue (Millions),-0.252996,-0.117562,0.247834,0.189527,0.607941,1.000000,0.132304
Metascore,-0.185159,-0.076077,0.202239,0.604723,0.318116,0.132304,1.000000

## Ans5  Find the movies directed by 'James Gunn', & 'Ridley Scott' with the rating greater than or equal to 8.

In [15]:
mark1 = data['Director'] == 'James Gunn'
mark2 = data['Director'] == 'Ridley Scott'
mark3 = data['Rating'] >= 8

new_data = data.loc[((mark1 | mark2) & mark3), ['Title', 'Director', 'Rating']]
new_data

                       Title      Director  Rating
0    Guardians of the Galaxy    James Gunn     8.1
102              The Martian  Ridley Scott     8.0

## Ans6 Display all the movies directed by 'Ridley Scott'.

In [16]:
new_data2 = data.loc[(data['Director'] == 'Ridley Scott'), ['Title', 'Director']]
new_data2

                      Title      Director
1                Prometheus  Ridley Scott
102             The Martian  Ridley Scott
387              Robin Hood  Ridley Scott
470       American Gangster  Ridley Scott
516  Exodus: Gods and Kings  Ridley Scott
521           The Counselor  Ridley Scott
530             A Good Year  Ridley Scott
737            Body of Lies  Ridley Scott

## Ans7 Display all the director's who got the rating >= 8 for their movies

In [17]:
new_data3 = data.loc[(data['Rating'] >= 8), ['Title', 'Director', 'Rating']]
new_data3

                        Title              Director  Rating
0     Guardians of the Galaxy            James Gunn     8.1
6                  La La Land       Damien Chazelle     8.3
16              Hacksaw Ridge            Mel Gibson     8.2
18                       Lion           Garth Davis     8.1
19                    Arrival      Denis Villeneuve     8.0
..                        ...                   ...     ...
742    El secreto de sus ojos  Juan José Campanella     8.2
765                        PK       Rajkumar Hirani     8.2
772  How to Train Your Dragon          Dean DeBlois     8.1
861            Koe no katachi          Naoko Yamada     8.4
991          Taare Zameen Par            Aamir Khan     8.5

[78 rows x 3 columns]

## Ans8 Find all the movies directed by 'James Gunn', & 'Ridley Scott'.

In [18]:
new_data4 = data.loc[((data['Director']== 'James Gunn') | (data['Director']=='Ridley Scott')), ['Title', 'Director']]
new_data4

                       Title      Director
0    Guardians of the Galaxy    James Gunn
1                 Prometheus  Ridley Scott
102              The Martian  Ridley Scott
387               Robin Hood  Ridley Scott
470        American Gangster  Ridley Scott
516   Exodus: Gods and Kings  Ridley Scott
521            The Counselor  Ridley Scott
530              A Good Year  Ridley Scott
737             Body of Lies  Ridley Scott
908                  Slither    James Gunn
937                    Super    James Gunn

## Ans9 Display all the director's who got the rating >= 8 for their movies.

In [19]:
data['Rating'].max()

9.0

In [20]:
new_data5 = data.loc[((data['Rating'] >=8) & (data['Rating']<=9)), ['Title', 'Rating']].nlargest(10, 'Rating')
new_data5

                     Title  Rating
54         The Dark Knight     9.0
80               Inception     8.8
117                 Dangal     8.8
36            Interstellar     8.6
96           Kimi no na wa     8.6
249       The Intouchables     8.6
64            The Prestige     8.5
99            The Departed     8.5
124  The Dark Knight Rises     8.5
133               Whiplash     8.5

## Ans10 Find the movies directed by both 'Christopher Nolan' and 'Ridley Scott

In [21]:
new_data6 = data.loc[(data['Director']== 'Christopher Nolan') | (data['Director']== 'Ridley Scott'), ['Title', 'Director']]
new_data6

                      Title           Director
1                Prometheus       Ridley Scott
36             Interstellar  Christopher Nolan
54          The Dark Knight  Christopher Nolan
64             The Prestige  Christopher Nolan
80                Inception  Christopher Nolan
102             The Martian       Ridley Scott
124   The Dark Knight Rises  Christopher Nolan
387              Robin Hood       Ridley Scott
470       American Gangster       Ridley Scott
516  Exodus: Gods and Kings       Ridley Scott
521           The Counselor       Ridley Scott
530             A Good Year       Ridley Scott
737            Body of Lies       Ridley Scott

In [22]:
print(data['Director'].to_string())

0                            James Gunn
1                          Ridley Scott
2                    M. Night Shyamalan
3                  Christophe Lourdelet
4                            David Ayer
5                           Yimou Zhang
6                       Damien Chazelle
7                            Sean Foley
8                            James Gray
9                         Morten Tyldum
10                          David Yates
11                       Theodore Melfi
12                       Gareth Edwards
13                         Ron Clements
14                      Nacho Vigalondo
15                         Chris Renaud
16                           Mel Gibson
17                      Paul Greengrass
18                          Garth Davis
19                     Denis Villeneuve
20                       Stephen Gaghan
21                     Kenneth Lonergan
22                            Ben Young
23                           Walt Dohrn
24                      Roland Emmerich
25                       Dominique Abel
26                       S.S. Rajamouli
27                       Phillip Guzman
28                            Jon Lucas
29                        Justin Kurzel
30                         John Hamburg
31                             Tom Ford
32                         Bryan Singer
33                           Tim Miller
34                   Paul W.S. Anderson
35                        Anthony Russo
36                    Christopher Nolan
37                     Scott Derrickson
38                        Antoine Fuqua
39                 Patrick Read Johnson
40                         Greg Tiernan
41                        Barry Jenkins
42                        Shawn Burkett
43                     John Lee Hancock
44                 Ricardo de Montreuil
45                         Rob Marshall
46                          John Madden
47                          Scott Hicks
48                           Justin Lin
49                            Sean Penn
50                          J.J. Abrams
51                        Anna Foerster
52                       Garry Marshall
53                       Chad Stahelski
54                    Christopher Nolan
55                      Martin Scorsese
56                         Fede Alvarez
57                        Thea Sharrock
58                        Lone Scherfig
59                       Clint Eastwood
60                          Zack Snyder
61                        André Øvredal
62                          Tate Taylor
63                   Sam Taylor-Johnson
64                    Christopher Nolan
65                       Matthew Vaughn
66                           Peter Berg
67                        George Miller
68                        Robin Swicord
69                           Peter Berg
70                         Terry George
71                      Robert Zemeckis
72                          J.A. Bayona
73                        David Frankel
74                         Byron Howard
75                       Gore Verbinski
76                          Joss Whedon
77                    Quentin Tarantino
78                       Gore Verbinski
79                            Paul Feig
80                    Christopher Nolan
81                            Matt Ross
82                      Martin Scorsese
83                        David Fincher
84                            James Wan
85                      Colin Trevorrow
86                          Ben Affleck
87                        James Cameron
88                    Quentin Tarantino
89                       Gavin O'Connor
90                     Denis Villeneuve
91                         Duncan Jones
92                          Tate Taylor
93                        Todd Phillips
94                          Joss Whedon
95                          Shane Black
96                       Makoto Shinkai
97                     Jeremy Gillespie
98                      Olivier Assayas
99                      Martin Scorsese
100                     Brian Helgeland
101                     Kenneth Branagh
102                        Ridley Scott
103                         Oriol Paulo
104                         Guy Ritchie
105                     David Mackenzie
106                     Taylor Hackford
107                         David Yates
108                        Katie Holmes
109                        Alex Garland
110                         Greg McLean
111                       Steve McQueen
112                   Ana Lily Amirpour
113                         Zack Snyder
114                         David Yates
115                         Josh Gordon
116                Nicolas Winding Refn
117                       Nitesh Tiwari
118                    Dan Trachtenberg
119                      Andrew Stanton
120                          Tim Burton
121                         Neil Burger
122                      Jake Szymanski
123                     Todor Chapkanov
124                   Christopher Nolan
125                         Jon Favreau
126                         Michael Bay
127                         Henry Joost
128                      Phyllida Lloyd
129         Alejandro González Iñárritu
130                   Denzel Washington
131                        Rob Marshall
132                  Jaume Collet-Serra
133                     Damien Chazelle
134                          Justin Lin
135                    Derek Cianfrance
136                          Ethan Coen
137                        Baz Luhrmann
138                     Martin Scorsese
139                    Martin Koolhoven
140                         J.J. Abrams
141                    Thor Freudenthal
142                          Adam McKay
143                    Lenny Abrahamson
144                   Quentin Tarantino
145                      Chan-wook Park
146                  Kelly Fremon Craig
147                         Zack Snyder
148                        Greg Mottola
149                          Ron Howard
150                    Steven Spielberg
151                           Gary Ross
152                      Elizabeth Wood
153                    Denis Villeneuve
154                         David Lynch
155                       Colin Strause
156                  Guillermo del Toro
157                       Glenn Ficarra
158                        Edgar Wright
159                        Edgar Wright
160                     Fabio Guaglione
161                        Ben Wheatley
162                        Bryan Singer
163                        Edward Zwick
164                     Martin Campbell
165                 Catherine Hardwicke
166                          Jon M. Chu
167                        Simon Curtis
168                         Michael Bay
169                          Sam Mendes
170                          Dan Gilroy
171                       Travis Knight
172                     Jackson Stewart
173                         Spike Jonze
174                          Chris Buck
175                           Brad Bird
176                         Matt Reeves
177                         Ben Stiller
178                           James Wan
179                         Peyton Reed
180                      Sharon Maguire
181                       Robert Eggers
182                     Kenneth Branagh
183                           Mateo Gil
184                      Asghar Farhadi
185                          Gaspar Noé
186                             Ang Lee
187                  Guillermo del Toro
188                Nicolas Winding Refn
189                         Judd Apatow
190                    Derek Cianfrance
191                        April Mullen
192                        Tom McCarthy
193                          Luke Scott
194                      Gavin O'Connor
195                        Joe Johnston
196                        Akan Satayev
197                           Sean Penn
198                       Morten Tyldum
199             Rawson Marshall Thurber
200                          Doug Liman
201                      Gore Verbinski
202                        Oliver Stone
203                         Jon Favreau
204                    Robert Schwentke
205                      Matthew Vaughn
206                     Julia Ducournau
207                        Jim Jarmusch
208                           Paul Feig
209                       Colm McCarthy
210                         Brad Peyton
211                      Harmony Korine
212                         Michael Bay
213                           Spike Lee
214                         Alan Taylor
215                         Alex Proyas
216                       Anthony Russo
217                         Chris Wedge
218                          Liam Gavin
219                      Matthew Vaughn
220                     Ilya Naishuller
221                       John Lasseter
222               David Robert Mitchell
223                       David Fincher
224             Rawson Marshall Thurber
225                       Andrea Arnold
226                    Yorgos Lanthimos
227                        Nimród Antal
228                    Robert Stromberg
229                    Steven Shainberg
230                  Guillermo del Toro
231                        Andy Goddard
232                          Mel Gibson
233               Christopher McQuarrie
234               Cedric Nicolas-Troyan
235                     Stephen Chbosky
236                       Pablo Larraín
237                         D.J. Caruso
238                        Wes Anderson
239                       Andrew Niccol
240                          David Ayer
241                         Pete Docter
242                         Ash Brannon
243                         Alan Taylor
244                      Chris Columbus
245                          Tom Hooper
246                      Alfonso Cuarón
247                          Mike Mills
248                           Paul Feig
249                     Olivier Nakache
250                     Eleanor Coppola
251                    Yorgos Lanthimos
252                        F. Gary Gray
253                           Marc Webb
254                           James Wan
255                       Todd Phillips
256                          Peter Berg
257                        Rupert Wyatt
258                   David F. Sandberg
259                        Joseph Cedar
260         Alejandro González Iñárritu
261                    Darren Aronofsky
262                       Justin Simien
263                      Lars von Trier
264                          Dave Green
265                            Eli Roth
266                           Dan Mazer
267                          Tom Tykwer
268                          Gavin Hood
269                     Jeffrey G. Hunt
270                          Sam Mendes
271                       Peter Jackson
272                           Phil Lord
273                         John Carney
274                         Eric Summer
275                     Joseph Kosinski
276                           Phil Lord
277                       David Fincher
278                   Richard Linklater
279                         Shane Black
280                     Louis Leterrier
281                         Guy Ritchie
282                   Quentin Tarantino
283                          Tom Hooper
284                        Brett Ratner
285                         Zack Snyder
286                        Greg Mottola
287                      Lana Wachowski
288                          Jared Hess
289                       Jalil Lespert
290                        Sang-ho Yeon
291                         Jason Moore
292                    Nicholas Stoller
293                       David Leveaux
294                         Zack Snyder
295                           Ross Katz
296                      Mike Thurmeier
297                       David Frankel
298                         Brad Furman
299                Paul Thomas Anderson
300                       Antoine Fuqua
301                          Peter Berg
302                        Drew Goddard
303                           Fred Wolf
304                     Jim Field Smith
305                Paul Thomas Anderson
306                         James Bobin
307                Gary Michael Schultz
308                          Justin Lin
309                    Christian Ditter
310                    John Lee Hancock
311                 Abdellatif Kechiche
312                       Jennifer Kent
313                       Peter Jackson
314                         David Yates
315                        Bong Joon Ho
316                          J Blakeson
317                            Dan Berk
318                  M. Night Shyamalan
319                          Justin Lin
320                       Anne Fletcher
321                         So Yong Kim
322                         Guy Ritchie
323                       Andrew Niccol
324                       David Fincher
325                        Breck Eisner
326                       Paul McGuigan
327                  Roger Spottiswoode
328                     Jeremy Saulnier
329                        Michael Mann
330                    Nicholas Stoller
331                      Clint Eastwood
332                    Jean-Marc Vallée
333                    Steven Spielberg
334                          Ron Howard
335                       Mike Flanagan
336                    David O. Russell
337                        Alexi Pappas
338                          Josh Boone
339                        Frank Coraci
340                          Justin Lin
341                        Rian Johnson
342                     Roland Emmerich
343                        David Lowery
344                           Sam Raimi
345                  Paul W.S. Anderson
346                      Matthew Vaughn
347                    David O. Russell
348                        Karyn Kusama
349                         Woody Allen
350                     William Oldroyd
351                    David O. Russell
352                   Jocelyn Moorhouse
353                         Woody Allen
354                    Robert Schwentke
355                       Sergei Bodrov
356                          Hugo Gélin
357                         James Marsh
358                       Evan Goldberg
359                      Richard Curtis
360                          Adam McKay
361                           Jon Watts
362                         J.J. Abrams
363                     Ruben Fleischer
364                          Ethan Coen
365                         Danny Boyle
366                         Bill Condon
367                     Alex Ranarivelo
368                           Marc Webb
369                   Timur Bekmambetov
370                        J.D. Dillard
371                            Wes Ball
372                        Ariel Vromen
373                   Timur Bekmambetov
374                      Stephen Frears
375                         Eran Creevy
376                        Scott Cooper
377                        Ryan Coogler
378                            Dan Kwan
379                      Patrick Hughes
380                     Jemaine Clement
381                       Antoine Fuqua
382                       Mike Flanagan
383                    Steven Spielberg
384                           Phil Lord
385                   Baltasar Kormákur
386                      Chris Columbus
387                        Ridley Scott
388                       James Mangold
389                      Andrew Stanton
390                       Peter Atencio
391                        Pierre Morel
392                         Danny Boyle
393                   Gillies MacKinnon
394                        Dennis Dugan
395                  Lee Toland Krieger
396                     Louis Leterrier
397                   Peter Billingsley
398                         Terry Jones
399                   Steven Soderbergh
400                          Kyle Balda
401                      Rolfe Kanefsky
402                Nicolas Winding Refn
403                       Pierre Coffin
404                     Michael Hoffman
405                        Karyn Kusama
406                     Kathryn Bigelow
407                        Nathan Greno
408                    Francis Lawrence
409                  John Francis Daley
410                        Pierre Morel
411                     Elizabeth Banks
412                         Dan Scanlon
413                      Paul Verhoeven
414                       Dennis Gansel
415                         Kevin Smith
416                       Mark Williams
417                          Joe Wright
418                         David Yates
419                       Steve McQueen
420                          Joe Wright
421                          David Ross
422                         Burr Steers
423                          Noam Murro
424                        Babak Najafi
425                       David Fincher
426                        Frank Miller
427                     Paul Greengrass
428                   Srdjan Spasojevic
429                      James DeMonaco
430                     Rajkumar Hirani
431                         Ben Stiller
432                        Marc Forster
433                           Brad Bird
434                         Corey Asraf
435                        Jon S. Baird
436                  George Tillman Jr.
437                         J.A. Bayona
438                         Jeff Wadlow
439                          Jeff Grace
440                           Sam Raimi
441                        John Crowley
442                        Henry Selick
443                    Derek Cianfrance
444                Michael J. Gallagher
445                     Christophe Gans
446                         Pete Travis
447                       Taika Waititi
448                            Don Hall
449                     Kimberly Peirce
450                         Jon Favreau
451                    Jean-Marc Vallée
452                    Christian Alvart
453                       Antoine Fuqua
454                         D.J. Caruso
455                   Thomas Vinterberg
456                       Anne Fletcher
457                          Etan Cohen
458                        Dennis Dugan
459                          Sam Mendes
460                         Ben Affleck
461                  William Brent Bell
462                        Mick Jackson
463                     Michael Spierig
464                       Rob Letterman
465                         Guy Ritchie
466                       Phillip Noyce
467                    Denis Villeneuve
468                      Neill Blomkamp
469                          Adam McKay
470                        Ridley Scott
471                       Sofia Coppola
472                     Roland Emmerich
473                         David Yates
474                         Ben Affleck
475                     Dexter Fletcher
476    Florian Henckel von Donnersmarck
477                      Carles Torrens
478                       Amber Tamblyn
479                       Justin Kurzel
480                    Nicholas Stoller
481                       Phillip Noyce
482                       John Hillcoat
483                      Paolo Genovese
484                         Clay Kaytis
485                        Wes Anderson
486                       Adam Shankman
487                     Lasse Hallström
488                       Glenn Ficarra
489                           Brad Bird
490                          Jim Mickle
491                       Albert Hughes
492                         Matt Reeves
493                        Ericson Core
494                     Jonathan Glazer
495                    Francis Lawrence
496                    Barry Sonnenfeld
497                         J.J. Abrams
498                        F. Gary Gray
499                         Pete Docter

## Ans11 Find all movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 50th percentile in revenue.

In [42]:
import numpy as np

In [43]:
np.percentile(data['Revenue (Millions)'], q = 50)

60.375

In [55]:
mark1 = data.Year.between(2006,2010)
mark2 = data.Rating > 8.0
mark3 = data['Revenue (Millions)']<60.375

new_data7 = data.loc[(mark1 & mark2 & mark3), ['Title', 'Year', 'Rating', 'Revenue (Millions)']]
new_data7

                      Title  Year  Rating  Revenue (Millions)
64             The Prestige  2006     8.5               53.08
197           Into the Wild  2007     8.1               18.35
230         Pan's Labyrinth  2006     8.2               37.62
299     There Will Be Blood  2007     8.1               40.22
430                3 Idiots  2009     8.4                6.52
476     The Lives of Others  2006     8.5               11.28
713               Incendies  2010     8.2                6.86
742  El secreto de sus ojos  2009     8.2               20.17
991        Taare Zameen Par  2007     8.5                1.20

## Ans12  Find all movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue

In [52]:
import numpy as np

In [53]:
np.percentile(data['Revenue (Millions)'], q = 25)

17.4425

In [56]:
mark1 = data.Year.between(2006,2010)
mark2 = data.Rating > 8.0
mark3 = data['Revenue (Millions)']<17.4425

new_data7 = data.loc[(mark1 & mark2 & mark3), ['Title', 'Year','Rating', 'Revenue (Millions)']]
new_data7

                   Title  Year  Rating  Revenue (Millions)
430             3 Idiots  2009     8.4                6.52
476  The Lives of Others  2006     8.5               11.28
713            Incendies  2010     8.2                6.86
991     Taare Zameen Par  2007     8.5                1.20

## Ans13  Finally give the feedback for all movies with 'Good' if the movie 'rating' is >= 8 and 'Average' if the movie rating doesn't follow the condition given

In [66]:
import pandas as pd
import numpy as np

In [68]:
data['Feedback'] = np.where(data['Rating']>8.0, 'Good', 'Average')
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Feedback
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,Good
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,Average
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,Average
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,Average
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,Average