In [2]:
s1 = 3
s2 = 5
s3 = 2
s = (s1+s2+s3)/2
area_of_trangle = (s*(s-s1)*(s-s2)*(s-s3))**(1/2)
print(area_of_trangle)

0.0

In [3]:
pwd

'C:\\Users\\ashu\\python'

In [4]:
p = int(input('enter initial principal rate :'))
r = int(input('enter annual interest rate :'))
t = int(input('enter time'))
simple_intrest = p*(1+r*t)
print(simple_intrest)

enter initial principal rate :300
enter annual interest rate :300
enter time3
270300

In [5]:
selling_prize = int(input('enter prize'))
bying_prize = int(input('enter prize :'))
profit = selling_prize - bying_prize
if profit > 0:
    print(f'profit is :{profit}')
else:
    print(f'loss is {profit}')

enter prize50
enter prize :20
profit is :30

In [6]:
income = int(input('enter income'))
if income > 500000:
    tax_of = income - 500000
    tax_is = (tax_of*18)/100
    print(tax_is)
else:
    print("income is less then 500000")

enter income600000
18000.0

In [8]:
shoping_cart = int(input("enter your bill amount :"))
if shoping_cart > 5000:
    discount = (shoping_cart*10)/100
    total_bill = shoping_cart - discount
    print(total_bill)
else:
    print(shoping_cart)

enter your bill amount :6000
5400.0

n = int(input('enter a number :'))
if n > 0:
    print('positive no')
else:
    print('negative no')

In [16]:
num1 = int(input('enter num1 :'))
num2 = int(input('enter num2 :'))
if num1 > num2:
    print('num1 is grater')
else:
    print('num2 is grater')

enter num1 :6
enter num2 :8
num2 is grater

In [20]:
num1 = int(input('enter num1 :'))
num2 = int(input('enter num2 :'))
num3 = int(input('enter num3 :'))
if num1 > num2 and num1 > num3:
    print(f'num1 {num1} is gratest number')
elif num2 > num1 and num2 >num3:
    print(f'num2 {num2} is gratest number')
else:
    print(f'num3 {num3} is gratest number')

enter num1 :3
enter num2 :5
enter num3 :7
num3 7 is gratest number

In [30]:
ques1 = input('are you student of school?')
ques2 = input('do you have submitted your fee?')
ques3 = input('do you wear mask?')
if (ques1 == 'yes' or ques == 'yes') and ques3 == 'yes':
    print('you are allowed')
else:
    print('you are not allowed')

are you student of school?yes
do you have submitted your fee?no
do you wear mask?yes
you are allowed

In [31]:
###indexing
name = 'ashish'
name[4]

##### slicing
#name[start:stop:step]

's'

In [35]:
email = 'ashuchilwal14@gmail.com'
start = email.index('@')
email[start+1:]

'gmail.com'

In [88]:
st = "hi hello welcome to the python school"
print(st[::-1])
print(st.upper())
print(st.lower())
print(st.title())
print(st[3:9])
print(st[3:9:2])
#print(st[-28:-34])   ###
first = st.index('w')
last = st.index('e')
#print(st[first:last])

loohcs nohtypeht ot emoclew olleh ih
HI HELLO WELCOME TO THEPYTHON SCHOOL
hi hello welcome to thepython school
Hi Hello Welcome To Thepython School
hello
hlo

In [67]:
st = 'hello'
print(st.capitalize())
print(st.casefold())
print(st.count('l'))
print(st.encode())
print(st.endswith('o'))
print(st.expandtabs())
print(st.find('l'))
print(st.format())
print(st.format_map(2))
print(st.index('e'))
print(st.isalnum())
st.

Hello
hello
2
b'hello'
True
hello
2
hello
hello
1
True

In [3]:
st = "hi hello welcome to the python school"
first = st.index('w')
last = st.index('e')
print(first)
print(last)
st[first:last]

9
4

''

In [12]:
st = "hi hello welcome to the python school"
start = st.index('w')
print(start)
last = st.index('e')
print(last)
print(st[start:last:])
a = st.find('e',3)
print(a)

9
4

4

In [13]:
st.split()

4

In [20]:
add = 0
for i in range(1,51):
    add += i
print(add)

1275

In [24]:
fact = 1
for i in range(1,3+1):
    fact *= i
print(fact)

6

In [26]:
for row in range(4):
    for col in range(4):
        print(' * ', end = ' ')
    print()

 *   *   *   *
 *   *   *   *
 *   *   *   *
 *   *   *   *

In [32]:
for row in range(6):
    for col in range(3):
        print(' * ', end = ' ')
    print()

 *   *   *
 *   *   *
 *   *   *
 *   *   *
 *   *   *
 *   *   *

In [40]:
for row in range(5):
    for col in range(1, row+1):
        print(' * ', end = ' ')
    print()

 *
 *   *
 *   *   *
 *   *   *   *

In [45]:
n = 4
k = 1
for row in range(1, n+1):
    for col in range(1,k+1):
        print(' * ', end = ' ')
    k += 2
    print()

 *
 *   *   *
 *   *   *   *   *
 *   *   *   *   *   *   *

In [47]:
rows = 9
k = 2*rows-2
for i in range(0,rows):
    for j in range(0,k):
        print(end='')
    k = k-2
    for j in range(0,i+1):
        print('*', end= '')
    print('')

*
**
***
****
*****
******
*******
********
*********

In [7]:
for i in range(1,5):
    for j in range(1,5):
        if i>=j:
            print('*', end=' ')
    print('')

*
* *
* * *
* * * *

In [11]:
for i in range(1,7):
    for j in range(1,7):
        if i<=j:
            print('*', end=' ')
    print('')

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [24]:
for i in range(1,5):
    for j in range(1,5):
        if j>=5-i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

   *
  **
 ***
****

In [30]:
string = input('enter a string : ')
lenth = len(string)
for row in range(lenth):
    for col in range(row+1):
        print(string[col], end='')
    print()

enter a string : ashish
a
as
ash
ashi
ashis
ashish

In [41]:
for i in range(1,11):
    if i == 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
for i in range(0,5):
    for j in range(0,i):
        print('*', end='')
    print()

*
**
***
****

In [47]:
for i in range(5,0,-1):
    for j in range(0,i):
        print('*', end='')
    print()

*****
****
***
**
*

In [54]:
row = int(input('enter row : '))
for i in range(1,row+1):
    for j in range(1,i+1):
        print('*', end=' ')
    print()

enter row : 5
*
**
***
****
*****

In [57]:
row = int(input('enter row : '))
for i in range(row,0,-1):
    for j in range(1,i+1):
        print('*', end=' ')
    print()

enter row : 5
* * * * *
* * * *
* * *
* *
*

In [61]:
row = int(input('enter row : '))
for i in range(1,row+1):
    for j in range(1,i+1):
        print('*', end=' ')
    print()
    
for i in range(row-1,0,-1):
    for j in range(1,i+1):
        print('*', end=' ')
    print()

enter row : 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
totalrows = int(input('enter the no of rows :'))
for row in range(1,totalrows+1):
    for space in range(1,(totalrows-row)+1):
        print('', end='')
    for symble in range(1,row+1):
        print('*', end='')
    print()

enter the no of rows :5
*
**
***
****
*****

In [5]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((row==0 or row==3) and (col>0 and col<4)):
            print('*', end='')
        else:
            print(end=' ')
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [11]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or ((row==0 or row==3 or row==6) and (col>0 and col<4)):
            print('*', end='')
        else:
            print(end=' ')
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [18]:
num = [['ram', 'shivam', 'rajan'],[55,65,75],[43,53,63],[56,76,66]]
for mark[0] in marks:
    print(f' mark is {mark[0]} ')

 mark is ['ram', 'shivam', 'rajan']
 mark is [55, 65, 75]
 mark is [43, 53, 63]
 mark is [56, 76, 66]

In [86]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4 and row!=0 and row!=3 and row!=6) or ((row==0 or row==3 or row==6) and (col>0 and col<4)):
            print('*',end='')
        else:
            print(end=' ')
    print()

****
*   *
*   *
****
*   *
*   *
****

In [84]:
for row in range(5):
    for col in range(4):
        if (col==0 and (row!=0 and row!=4)) or (row==0 or row==4) and (col>0):
            print('* ',end='')
        else:
            print(end=' ')
    print()

 * * *
*
*
*
 * * *

In [108]:
for row in range(6):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=5)) or ((row==0 or row==5) and (col>0 and col<4)):
            print('*', end='')
        else:
            print(end=' ')
    print()

****
*   *
*   *
*   *
*   *
****

In [128]:
for row in range(7):
    for col in range(5):
        if col==0 or ((row==0 or row==3 or row==6) and (col>0)):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
*
*
*****
*
*
*****

In [129]:
for row in range(7):
    for col in range(5):
        if col==0 or ((row==0 or row==3) and (col>0)):
            print('*', end='')
        else:
            print(end=' ')
    print()

*****
*
*
*****
*
*
*

In [186]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0) or (row==4 and col!=1) or (row==6 and  col!=3) or (row==5 and (col!=3 and col!=1)) or (row==4 and col!=1):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
*
*
*
* ***
* * *
*** *

In [132]:
for row in range(7):
    for col in range(5):
        if col==0 or col==4 or ((row==3) and (col>0 and col<5)):
            print('*',end='')
        else:
            print(end=' ')
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [159]:
for row in range(7):
    for col in range(5):
        if col==2 or (row==0 and col!=2) or row==6:
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
  *
  *
  *
  *
  *
*****

In [189]:
for row in range(7):
    for col in range(5):
        if col==2 or (row==0 and col!=2) or (row==6 and col<2) or (row==5 and col!=1 and col!=3 and col!=4):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
  *
  *
  *
  *
* *
***

In [214]:
i=0
j=4
for row in range(7):
    for col in range(5):
        if col==0 or (row==col+2 and col>1):
            print('*', end='')
        elif ((row==i and col==j) and col>0):
            print('*',end='')
            i=i+1
            j=j-1
        else:
            print(end=' ')
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [215]:
for row in range(7):
    for col in range(5):
        if col==0 or row==6:
            print('*',end='')
        else:
            print(end=' ')
    print()

*
*
*
*
*
*
*****

In [228]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or (row==1 and col!=2) or (row==2 and (col!=1 and col!=3)):
            print('*',end='')
        else:
            print(end=' ')
    print()

*   *
** **
* * *
*   *
*   *
*   *
*   *

In [8]:
l = [10,20,30,40,50]
j = []
k = 1
for i in l:
    j.append(int(str(i)*k))
    k+=1
print(j)

[10, 2020, 303030, 40404040, 5050505050]

In [10]:
n = 5
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *

In [14]:
n = 5
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*(i))

* * * * *
 * * * *
  * * *
   * *
    *

In [15]:
n = 5
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1))
for i in range(n-1,0,-1):
    print(" "*(n-i)+"* "*(i))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [16]:
n = input("enter string")
length = len(n)
for row in range(length):
    for col in range(row+1):
        print(n[col], end=' ')
    print()

enter stringpython
p
p y
p y t
p y t h
p y t h o
p y t h o n

In [19]:
n=4
p=1
for i in range(n):
    for j in range(i+1):
        print(p, end=' ')
        p += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [26]:
n=5
p=1
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j , end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [27]:
n=5
p=1
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i , end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [4]:
for row in range(1,5):
    for col in range(1,8):
        if (row==4 or (row+col)==5 or (col-row)==3):
            print("*", end='')
        else:
            print(end=" ")
    print()

   *
  * *
 *   *
*******

In [5]:
n = int(input('enter the no of row'))
for row in range(1,n+1):
    for col in range(1,n*2):
        if (row==n or (row+col)==n+1 or (col-row)==n-1):
            print("*", end='')
        else:
            print(end=" ")
    print()

enter the no of row5
    *
   * *
  *   *
 *     *
*********

In [6]:
i = 1
s = 0
while i<11:
    s+=i
    i+=1
print(s)

55

In [8]:
i = 0
while i<11:
    i+=1
    if i%2==0:
        print(i,'is even')
    else:
        print(i,'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd

In [21]:
n= 5
f=1
while n>0:
    f*=n
    n-=1
print("factorial is",f)

factorial is 120

In [19]:
n= 1
while n!='q':
    n = input("enter a char :")
    print(n)
    
print('you are right')

enter a char :a
a
enter a char :q
q
you are right

In [15]:
num1 = int(input('enter first no :'))
num2 = int(input('enter second no :'))
sum = num1 + num2

attempt = 0
while True:
    guess = int(input('guess the number between 1 to 10 :'))
    attempt+=1
    if guess == sum:
        print(f"you guess right num in the attemp of {attempt}")
        break
    else:
        print("try again")
print('thanks for playing game')

enter first no :2
enter second no :4
guess the number between 1 to 10 :6
you guess right num in the attemp of 1
thanks for playing game

In [3]:
i=1
while i<11:
    if i%2==0:
        print(i, "is even number")
        #i +=1
    else:
        print(i, "is odd number")
        #i +=1
    i +=1

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [6]:
n = 1
i = 1
while n<=5:
    i*=n
    n+=1
print(i)

120

In [1]:
n = int(input("enter a num :"))
fact = 1
while n>0:
    fact*=n
    n-=1
print(fact)

enter a num :6
720

In [2]:
n= 1
while n!="q":
    n = input("enter a char :")
print("thanku for playing game")

enter a chara
enter a chars
enter a chard
enter a charq
thanku for playing game

In [8]:
s = "i m new the world of the programming"
vou = "aeiou"
v = {}
v = v.fromkeys(vou,0)
ch = 0
for i in s.lower():
    if i in v:
        v[i] += 1
    else:
        ch += 1
print(v)

{'a': 1, 'e': 3, 'i': 2, 'o': 3, 'u': 0}

In [7]:
q1 = """ what is the ans of 2+3? 
a. 5
b. 6
c. 7
d. 3 """
q2 = """what is the ans of 2**3?
a. 7
b. 6
c. 7
d. 8"""
q3 = """what is the ans of 2**2?
a. 7
b. 6
c. 4
d. 9"""

questions = {q1 : "a", q2 : "d", q3 : "c"}
score = 0
for i in questions:
    print(i)
    statement1 = input("do you want skip this question? (yes/no) :")
    if statement1 == "yes":
        continue
    ans = input("enter your ans (a/b/c/d)")
    
    if ans == questions[i]:
        print("your ans is write")
        score += 1
        
    else:
        print("your ans is wrong")
    statement2 = input("do you want quit this quiz? (yes/no) :")
    if statement2 == "yes":
        break
print("your total score is", score)

 what is the ans of 2+3?
a. 5
b. 6
c. 7
d. 3
do you want skip this question? (yes/no) :n
enter your ans (a/b/c/d)a
your ans is write
do you want quit this quiz? (yes/no) :yes
your total score is 1